<header class="hero overlay" th:fragment="header-admin-content">
	<nav class="navbar">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar-collapse"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="fa fa-bars"></span>
				</button>
				<a href="https://xvelopers.com/index.html" class="brand"> <img
					src="assets/images/logo3.png" alt="Knowledge">
				</a>
			</div>
			<div class="navbar-collapse collapse" id="navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="https://xvelopers.com/"> Home </a></li>
					<li><a href="archive.html"> Archive </a></li>
					<li><a href="browse.html"> Browse </a></li>
					<li sec:authorize="!isAuthenticated()"><a href="/sign-in">
							Sign In </a></li>
					<li sec:authorize="!isAuthenticated()"><a href="/sign-up"
						class="btn btn-success nav-btn">Sign Up</a></li>
					<li sec:authorize="isAuthenticated()"><a
						class="btn btn-success nav-btn"
						onclick="document.forms['logoutForm'].submit()">Logout</a></li>
					<form id="logoutForm" method="POST" th:action="@{/logout}">
						<input type="hidden" name="${_csrf.parameterName}"
							value="${_csrf.token}" />
					</form>
				</ul>
			</div>
		</div>
	</nav>

</header>