<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<div th:replace="includes/head :: head-content"></div>

<body>

	<!-- Header content include statement -->
	<div th:replace="includes/header-admin :: header-admin-content"></div>

	<main class="content-wrapper">
	<div class="container">
	  <h1>Create New Course. </h1>
		
	</div>
	</main>
	
	
	
	
	<!-- Footer content include statement  -->
	<div th:replace="includes/footer :: footer-content"></div>


</body>
</html>