<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<div th:replace="includes/head :: head-content"></div>

<body>

	<!-- Header content include statement -->
	<div th:replace="includes/header-admin :: header-admin-content"></div>

	<main class="content-wrapper">
	<div class="container">
	  <h1>Welcome back!! </h1>
	  <h2><span sec:authentication="name"></span></h2>
	  <p>Roles: <span sec:authentication="principal.authorities"	></span></p>
					
	</div>
	</main>
	
	
	
	
	<!-- Footer content include statement  -->
	<div th:replace="includes/footer :: footer-content"></div>


</body>
</html>